__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

outputs/
models/
*.mat
*.pkl
*.joblib

*.asv
*:Zone.Identifier
.DS_Store
Thumbs.db
.vscode/

data/raw/
data/external/
data/**/raw/
